@model CMPG_323_Project2.Models.Photo



@{

    ViewData["Title"] = "Create";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

    <h4>Single File Upload</h4>

    <form asp-controller="Photo" asp-action="SingleFile" enctype="multipart/form-data" method="post">

        <input id="MyInput" type="file" name="file"
               onchange="checkFile()" />

        <button id="submitButton" type="submit" onclick="testDataType" disabled>MyInput  Submit</button>

    </form>




    <script type="text/javascript">
        function checkFile() {
            var fileElement = document.getElementById("MyInput");

            var fileExtension = "";
            if (fileElement.value.lastIndexOf(".") > 0) {
                fileExtension = fileElement.value.substring(fileElement.value.lastIndexOf(".") + 1, fileElement.value.length);
            }
            if (fileExtension.toLowerCase() == "png" || fileExtension.toLowerCase() == "bmp"
                || fileExtension.toLowerCase() == "ico" || fileExtension.toLowerCase() == "jpeg"
                || fileExtension.toLowerCase() == "jpg" || fileExtension.toLowerCase() == "gif"
                || fileExtension.toLowerCase() == "tiff") {
                document.getElementById("submitButton").disabled = false;

            }
            else {
                fileElement.value = "";
                alert("Unsupported format, please upload the content in a different format");
            }
        }

    </script>

    @section Scripts {

        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    }
