@model IEnumerable<CMPG_323_Project2.ViewModel.UserViewModelPhoto>

<style>
    .avatar {
        vertical-align: middle;
        width: 410px;
        height: 175px;
    }
</style>

<table class="table table-striped">
    <tr>
        <td>Shared By</td>
        <td>Photo's</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.userVm.UserName</td>
            <td>
                <img src="@item.photoVm.PhotoUrl" alt="@item.photoVm.PhotoUrl" class="avatar" />
            </td>
        </tr>
    }
</table>

@{
}