@model CMPG_323_Project2.ViewModel.PhotoViewModelMetaData

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>MetaDatum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="photoVm.PhotoId" />
            @*<div class="form-group">
            <label asp-for="PhotoId" class="control-label"></label>
            <input asp-for="PhotoId" class="form-control" />
            <span asp-validation-for="PhotoId" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <label asp-for="photoVm.PhotoUrl" class="control-label"></label>
            <input asp-for="photoVm.PhotoUrl" class="form-control" />
            <span asp-validation-for="photoVm.PhotoUrl" class="text-danger"></span>
        </div>*@


                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="fileModelVm.MyFile" class="control-label"></label>
                    @*origanil*@ @*<input asp-for="MyFile" class="form-control-file" />*@
                    <input id="MyInput" asp-for="fileModelVm.MyFile" class="form-control-file" onchange="document.getElementById('DisplayUpload').src = window.URL.createObjectURL(this.files[0]); checkFile()" required>
                    @*  *@
                    <span asp-validation-for="fileModelVm.MyFile" class="text-danger"></span>


                </div>
                <div>
                    <img id="DisplayUpload" src="" alt="Logo Image" hidden width="150" height="150" style="border:1px ;margin-top:20px; margin-left:120px;" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="metadataVm.MetadataId" />
                </div>
                @*<div class="form-group">
                <label asp-for="MetadataId" class="control-label"></label>
                <input asp-for="MetadataId" class="form-control" />
                <span asp-validation-for="MetadataId" class="text-danger"></span>
            </div>*@
                <div class="form-group">
                    <label asp-for="metadataVm.Geolocation" class="control-label"></label>
                    <input asp-for="metadataVm.Geolocation" class="form-control" />
                    <span asp-validation-for="metadataVm.Geolocation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="metadataVm.Tags" class="control-label"></label>
                    <input asp-for="metadataVm.Tags" class="form-control" />
                    <span asp-validation-for="metadataVm.Tags" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="metadataVm.CapturedDate" class="control-label"></label>
                    <input asp-for="metadataVm.CapturedDate" class="form-control" />
                    <span asp-validation-for="metadataVm.CapturedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="metadataVm.CapturedBy" class="control-label"></label>
                    <input asp-for="metadataVm.CapturedBy" class="form-control" />
                    <span asp-validation-for="metadataVm.CapturedBy" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="hidden" asp-for="userphotVm.ShareId" />
                </div>

                @*<label asp-for="photoVm.PhotoId" class="control-label"></label>
            @{ CMPG_323_Project2.Data.CMPG_DBContext DBContext = new CMPG_323_Project2.Data.CMPG_DBContext();
                List<CMPG_323_Project2.Models.Photo> ListPhotos = DBContext.Photos.ToList();
                <select asp-for="photoVm.PhotoId" class="form-control">
                    @{
                        <option value="" disabled hidden selected>select PhotoId</option>
                        foreach (CMPG_323_Project2.Models.Photo p in ListPhotos)
                        {
                            <option value="@p.PhotoId">@p.PhotoId</option>
                        }
                    }
                </select>
            }
            <span asp-validation-for="photoVm.PhotoId" class="text-danger"></span>*@
                @*<select asp-for="PhotoId" class="form-control" asp-items="ViewBag.PhotoId"></select>*@

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-sm btn-success" /> |
            <a asp-controller="UserPhoto" asp-action="Index">Back</a>
        </div>
            </form>


</div>
        </div>
<script type="text/javascript">
    function checkFile() {

        var fileElement = document.getElementById("MyInput");

        var fileExtension = "";
        if (fileElement.value.lastIndexOf(".") > 0) {
            fileExtension = fileElement.value.substring(fileElement.value.lastIndexOf(".") + 1, fileElement.value.length);
        }
        if (fileExtension.toLowerCase() == "png" || fileExtension.toLowerCase() == "bmp"
            || fileExtension.toLowerCase() == "ico" || fileExtension.toLowerCase() == "jpeg"
            || fileExtension.toLowerCase() == "jpg" || fileExtension.toLowerCase() == "gif"
            || fileExtension.toLowerCase() == "tiff") {
            document.getElementById("DisplayUpload").hidden = false;



        }
        else {
            document.getElementById("DisplayUpload").hidden = true;
            fileElement.value = "";
            alert("Unsupported format, please upload the content in a different format");
        }
    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
