@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please login at the top right hand side. Otherwise create an account when clicking on the register button.</p>
</div>

