@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The user's privacy is of utmost importance. All the user's passwords have been encrypted to prevent security risks. The users will only be allowed to see photos that are their own or photos that have been shared with them.</p>
